.recomendation-scroll {
  display: flex;
  overflow-x: auto;
}

.recomendation-scroll div {
  min-width: 50%;
}

.recomendation2, .recomendation3, .recomendation4, .recomendation5 {
visibility: hidden;
} 

